# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Flask / project
instance/
*.sqlite3
*.db
*.log

# Node / frontend (if you have static assets)
node_modules/
dist/
build/

